---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    git: git@gitlab.com:pearsontechnology/to-cloudengineering/helm-charts
    path: aurora
    ref: master
  values:
    {{- with .Service.Options }}
    options:
      cluster:
        engine: {{ .engine }}
      instance:
        count: {{ .count }}
        instance_class: {{ .instance_class }}
    {{- end }}