---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    git: git@gitlab.com:pearsontechnology/to-cloudengineering/helm-charts
    name: kafka
    ref: master
  {{- with .Service.Options }}
  options:
    {{- if .replicas }}
    replicas: {{ .replicas }}
    {{- end }}
    {{- if .zookeeperConnect }}
    zookeeperConnect: {{ .zookeeperConnect }}
    {{- end }}
    {{- if .resources_limits_cpu }}
    resources_limits_cpu: {{ .resources_limits_cpu }}
    {{- end }}
    {{- if .resources_limits_memory }}
    resources_limits_memory: {{ .resources_limits_memory }}
    {{- end }}
    {{- if .resources_requests_cpu }}
    resources_requests_cpu: {{ .resources_requests_cpu }}
    {{- end }}
    {{- if .resources_requests_memory }}
    resources_requests_memory: {{ .resources_requests_memory }}
    {{- end }}
  {{- end }}
