---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    git: git@gitlab.com:pearsontechnology/to-cloudengineering/helm-charts
    path: mysql
    ref: master
  values:  
    fullnameOverride: {{ .Service.Name }}
    {{- with .Service.Options }}
    options:
      {{- if .version }}
      version: {{ .version }}
      {{- end }}
      {{- if .replicas }}
      replicas: {{ .replicas }}
      {{- end }}
      {{- if .multiaz }}
      multiaz: {{ .multiaz }}
      {{- end }}
      {{- if .dbinstanceclass }}
      dbinstanceclass: {{ .dbinstanceclass }}
      {{- end }}
      {{- if .allocatedstorage }}
      allocatedstorage: {{ .allocatedstorage }}
      {{- end }}
      {{- if .iops }}
      iops: {{ .iops }}
      {{- end }}
    {{- end }}
    {{- if .Service.Version }}
    version: {{ .Service.Version }}
    {{- end}}
