---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Environment.Namespace }}-{{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    repository: github.com/pearsontechnology/onestack
    path: charts/neptune
    ref: master
  values:
    instance_type: {{ .Service.Options.instance_type }}
