---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Environment.Namespace }}-{{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    git: git@gitlab.com:pearsontechnology/to-cloudengineering/helm-charts
    path: neptune
    ref: master
  {{- with .Service.Options }}
  options:
    {{- if .ApplyImmediately }}
    ApplyImmediately: {{ .ApplyImmediately }}
    {{- end }}
    {{- if .EnableIAMDatabaseAuthentication }}
    EnableIAMDatabaseAuthentication: {{ .EnableIAMDatabaseAuthentication }}
    {{- end }}
    {{- if .EnableCloudwatchLogsExports }}
    EnableCloudwatchLogsExports: 
      {{- range .EnableCloudwatchLogsExports }}
      - {{ . }}
      {{- end }}
    {{- end }}
    {{- if .DBClusterParameterGroupName }}
    DBClusterParameterGroupName: {{ .DBClusterParameterGroupName }}
    {{- end }}
    {{- if .db_instances }}
    db_instances: 
    {{- range .db_instances }}
     - db_name: {{ .db_name }}
       db_instance_class: {{ .db_instance_class }}
    {{- end }}
    {{- end }}
 {{- end }}
