---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    fluxcd.io/automated: "false"
spec:
  chart:
    git: git@gitlab.com:pearsontechnology/to-cloudengineering/helm-charts
    path: sqs
    ref: master
  values:  
    fullnameOverride: {{ .Service.Name }}
    {{- with .Service.Options }}
    options:
      {{- if .instance_type }}
      instance_type: {{ .instance_type }}
      {{- end }}
      {{- if .region }}
      region: {{ .region }}
      {{- end }}
    {{- end }}
