---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: {{ .Environment.Namespace }}-{{ .Service.Name }}
  namespace: {{ .Environment.Namespace }}
  annotations:
    flux.weave.works/automated: "true"
    flux.weave.works/tag.chart-image: glob:{{ .Environment.Namespace }}-*
spec:
  chart:
    git: git@github.com:pearsontechnology/onestack
    path: charts/webservice
    ref: master
  values:
    fullnameOverride: {{ .Service.Name }}
    replicaCount: {{ .Service.Replicas }}
    resources:
      limits:
        {{- if .Service.Limits.CPU }}
        cpu: {{ .Service.Limits.CPU }}
        {{- end }}
        {{- if .Service.Limits.Memory }}
        memory: {{ .Service.Limits.Memory }}
        {{- end }}
      requests:
        {{- if .Service.Requests.CPU }}
        cpu: {{ .Service.Requests.CPU }}
        {{- end }}
        {{- if .Service.Requests.Memory }}
        memory: {{ .Service.Requests.Memory }}
        {{- end }}
    annotations:
      {{- range $k, $v := .Service.Annotations }}
      {{ $k }}: {{ $v }}
      {{- end }}
    image:
      repository: {{ .Registry }}/{{ .Service.Name }}
      tag: latest
    probePath: "/account/v1/account"
    env:
      {{- range .Service.EnvVars }}
      {{- if .PodField }}
      - name: {{ .Name }}
        valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: {{ .PodField }}
      {{- else if .Secret }}
      - name: {{ .Secret }}
        valueFrom:
          secretKeyRef:
            key: {{ .Value }}
            name: {{ .Value }}
      {{- else }}
      - name: {{ .Name }}
        value: {{ .Value}}
      {{- end }}
      {{- end }}
    {{- if .Service.ExternalURL }}
    ingress:
      enabled: true
      hosts:
        {{- range .Service.ExternalURL }}
        - host: {{ . }}
          paths:
          - path: /
        {{- end }}
    {{- end }}
    volumes:
      {{- range .Service.Volumes }}
      - name: {{ .Name }}
        path: {{ .Path }}
        type: {{ .Type }}
        {{- if .Size }}
        size: {{ .Size }}
        {{- end }}
        modes: {{ .Modes }}
      {{- end }}
    {{- if .Service.HPA }}
    {{- with .Service.HPA }}
    hpa:
      enabled: true
      {{- if .MinReplicas }}
      minReplicas: {{ .MinReplicas }}
      {{- end }}
      {{- if .MaxReplicas }}
      maxReplicas: {{ .MaxReplicas }}
      {{- end }}
      {{- if eq .Metric.Name "cpu"}}
      cpu: {{ .Metric.TargetAverageUtilization }}
      {{- else if eq .Metric.Name "memory"}}
      memory: {{ .Metric.TargetAverageUtilization }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Service.ReadinessProbe }}
    {{- with .Service.ReadinessProbe }}
    readinessProbe:
      {{- if .Handler.HTTPGet.Path }}
      httpGet: 
        path: {{ .Handler.HTTPGet.Path }}
        port: {{ .Handler.HTTPGet.Port }}
      {{- end }}
      {{- if .InitialDelaySeconds }}
      initialDelaySeconds: {{ .InitialDelaySeconds }}
      {{- end }}
      {{- if .TimeoutSeconds }}
      timeoutSeconds: {{ .TimeoutSeconds }}
      {{- end }}
      {{- if .PeriodSeconds }}
      periodSeconds: {{ .PeriodSeconds }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Service.LivenessProbe }}
    {{- with .Service.LivenessProbe }}
    livenessProbe:
      {{- if .Handler.HTTPGet.Path }}
      httpGet: 
        path: {{ .Handler.HTTPGet.Path }}
        port: {{ .Handler.HTTPGet.Port }}
      {{- end }}
      {{- if .InitialDelaySeconds }}
      initialDelaySeconds: {{ .InitialDelaySeconds }}
      {{- end }}
      {{- if .TimeoutSeconds }}
      timeoutSeconds: {{ .TimeoutSeconds }}
      {{- end }}
      {{- if .PeriodSeconds }}
      periodSeconds: {{ .PeriodSeconds }}
      {{- end }}
    {{- end }}
    {{- end }}
  valueFileSecrets:
    - name: "{{ .Service.Name }}-values"
